name: Deploy to Ubuntu Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test
        env:
          # This maps the GitHub secret 'MY_API_KEY' to the environment variable of the same name
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY}}

      - name: Build project
        run: npm run build
        env:
          # This maps the GitHub secret 'MY_API_KEY' to the environment variable of the same name
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY}}

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: "just-a-placeholder-so-we-dont-get-errors" # This can be generated with ssh-keyscan for security

      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy with rsync
        run: |
          rsync -avz --delete ./dist/ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/aicallagent/dist/
          rsync -avz ./package.json ./package-lock.json ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/aicallagent/

      - name: Install Dependencies & Restart
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd /var/www/aicallagent && npm install --production && pm2 restart main"
